
* {
    margin: 0;
    padding: 0;
    }
    a {
        text-decoration: none;
    }
    .container {
        max-width: 1140px;
        margin: 0 auto;
        }
body {
    font-family: sans-serif;} 
  
    .page-header{
      min-height: 75px;
      background-color: #222222;

}
.header-menu {
   display: flex; 
justify-content: space-between; 
}

.left_header {
    display: flex; 
align-items: center;
}


.logo_img {
    padding: 41px;
}
.right_header {
    display: flex; 
align-items: center;
}
.btn_menu {
   background-color: transparent;
   border: none; 
}
.menu_img {
    padding: 33px;
}
.lk_img {
    padding: 33px;
}
.btn-cart {
    display: block;
    width: 32px;
    height: 29px;
    text-decoration: none;
    position: relative;
    background-color: transparent;
    border: none;
}
.cart-btn-icon {
    fill: #fff;
}

.btn-cart span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
    background-color: #f16d7f;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    top: -6px;
    right: -10px;
  }

  .btn-cart:hover .cart-btn-icon {
    fill: gold;
  }
  .btn-cart:active .cart-btn-icon {
    fill: red;
  }

  .btn-cart:hover span {
    background-color:#fff; 
    color: #f16d7f;
  }
.page-header-banner {
  height: 764px;
  background: #F1E4E6;
}
.content-banner {
    display: flex; 
    justify-content:space-between; 
}
.left_desktop {
    display: flex; 

}

.brand {
    color: #222222;
padding-top: 290px;

  }
  .brand-title-wrp {
    margin: 0 0 0 50px;
    text-transform: uppercase;
    position: relative;
    align-items: center;
  }
  .brand-title-wrp::before {
    content: "";
    display: block;
    width: 12px;
    height: 92px;
    background-color: #f16d7f;
    position: absolute;
    top: -1px;
    left: -28px;
  }
.brand-title {
    margin: 0;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
  }
  .brand-subtitle {
    margin: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
  }
  .brand-subtitle span {
    color: #f16d7f;
  }
  
.span_text {

    font-weight: 700;
    font-size: 33px;
    line-height: 58px;
    color: #F16D7F;;
    text-transform: uppercase;
    }


    .menu_category {
        width: 100%;
        padding-top: 65px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
        flex-wrap: wrap;
    }

.woomen {
    display: flex;
    justify-content: center;
    width: 360px;
    min-height: 260px;
    background: rgba(33, 22, 22, 0.7);
    position: relative; 
    background-image: url(img/woomen.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
    align-items: center;
    text-align: center;
}

.text_category {
    width: 154px;
    height: 50px;
    font-size: 18px;
    line-height: 28px;
    
}

 .promo {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
 }
 .name_category {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #F16D7F;
    text-align: center;
 }
.men {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 260px;
    background: rgba(33, 22, 22, 0.7);
    position: relative; 
    background-image: url(img/men.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
    text-align: center;
}

.kids {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 260px;
    background: rgba(33, 22, 22, 0.7);
    position: relative; 
    background-image: url(img/kids.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
    text-align: center;
}

.accesories {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 180px;
    background: rgba(33, 22, 22, 0.7);
    position: relative; 
    background-image: url(img/accesories.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
    margin-top: 30px;
    text-align: center;
}

.products {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 63px;
}
.header-featured {
    width: 100%;
}

.products-title {
font-size: 30px;
line-height: 36px;
color: #222222;
text-align: center;
}
.products-subtitle{
  font-size: 14px;
line-height: 17px;
color: #9F9F9F; 
text-align: center;
margin-bottom: 48px ;

}
.products-item {
    min-height:581px ;
    max-width: 360px;
    background: #F8F8F8;
   margin-bottom: 30px;
   
   

}
.products-item-photo {
    height: 420px;
    max-width: 360px;
    margin-bottom: 25px;
    display: block;
    background: #F7E4E2;
    margin-left: auto;
    margin-right: auto;
    position: relative;
   display: flex;
   justify-content: center;

}
.cover-item-photo {
background: rgba(0, 0, 0, 0.8);
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
opacity: 0;


}

.add-cart {
    height: 43px;
    width: 138px;
    border: 1px solid #FFFFFF;
   margin-top:188px ;
   margin-left: 111px;
  display: flex;
  align-items: center;
  justify-content: center;
   background-color: transparent;
  
}
 
.title-add-cart {
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding-left: 11px;
}

.cover-item-photo:hover {
   opacity: 1;
    
}
.products-item-title {
    padding-left: 18px;
    padding-top: 25px;
    font-size: 13px;
    line-height: 16px;
    color: #000000; 
    text-align: center;
}
.add-cart-img {
    min-width: 26px;
    max-height: 24px;
    
}
.products-item-txt {
    padding-top: 13px;
    padding-bottom: 18px;
    padding-left: 18px;
font-weight: 300;
font-size: 14px;
line-height: 17px;
text-align:start;
color: #5D5D5D;
}
.products-item-price {
    padding-left: 18px;
    font-size: 16px;
line-height: 19px;

color: #F16D7F;
}
.bottom-products {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 95px;
}
.button-browse-all-products {
    height: 47px;
    width: 211px;
    border: 1px solid #FF6A6A;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
.txt-browse-all-products {
   font-size: 16px;
line-height: 19px;
text-decoration: none;

color: #F26376; 
}
.button-browse-all-products:hover {
    background: #F16D7F;
}

.button-browse-all-products:hover  .txt-browse-all-products{
   
    color: #FFFFFF;  
}

.features {
    width: 100%;
    min-height:341px ;
    background: #222224;

}
.feauters-content {
    min-height:341px ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.features-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.features-item-icon {
    stroke: #F16D7F;
    padding-bottom: 28px;
}

.features-item-title {
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    padding-bottom: 16px;
}

.features-item-txt {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB; 
}
.subscribe {
    
    background-image:url(img/subscribe_bg.png), linear-gradient(to right, #d9d9d9 28%, #adadad 82%);
    background-blend-mode: overlay, color;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}
.subscribe-content {
    min-height: 448px;    
    display: flex ;
   justify-content: space-between;
}
.subscribe-info {
    display: flex ;
    flex-direction: column;
padding-top: 86px;

    
}
.subscribe-info-avatar {
    display: flex;
    justify-content: center;
    margin-bottom:25px ;
}
.subscribe-info-txt {
    max-width: 360px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}
.subscribing {
    display: flex ;
    flex-direction: column;
padding-top: 150px;
}
.subscribing-title {
font-weight: bold;
font-size: 24px;
line-height: 167.2%;
text-align: center;
color: #222224;
text-transform: uppercase;
}
.subscribing-subtitle{
   font-size: 18px;
line-height: 30px;
text-align: center;
color: #222224; 
text-transform: uppercase;
}

.subscribing-form {
margin-top: 32px;
display: flex;
}
.subscribing-form-email {
    background: #E1E1E1;
   min-width: 256px;
   min-height: 49px;
   border-radius: 50px 0 0 50px;
 border: none;

}

.subscribing-form-btn {
    background: #F16D7F;
    min-width: 100px;
    min-height: 49px;
    border-radius: 0 50px 50px 0;
    border: none;
    color: #FFFFFF;
}

.subscribing-form-email::-webkit-input-placeholder {
    padding-left: 22px;
    font-size: 14px;
line-height: 17px;
color: #222224;
opacity: 0.67;
}
.footer {
    background: #222224;
    min-height: 79px;

}
.footer-content {
    display: flex;
    justify-content:space-between;
    align-items: center; 
}
.page-footer-txt {
  font-size: 16px;
line-height: 19px;
margin-top: 30px;

color: #FBFBFB;  
}
.page-footer-socials {
   
    margin-top: 22px;
    display: flex;

}
.page-footer-socials-item {
    display: block;
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

  i {
      
      width: 32px;
      height: 32px;
    color:black;
    display:inline-block;
    font-size: 25px;
    line-height: 50px;
    background-color:white;
  padding-top: 10px;
    text-align: center;
 }
 .page-footer-socials-item:hover i {
    background: #F16D7F;
    color: #E1E1E1;  
 }
 /* Catalog.html*/

 .nav-panel {
     width: 100%;
     min-height: 148px;
     background: #F8F3F4;
 }
 .nav-panel-content {
     display: flex;
     min-height: 148px;
     justify-content: space-between;
     align-items: center;
     
 }
 .header-category {
     display: block;
     font-size: 24px;
line-height: 29px;
     text-transform: uppercase;
     color: #F16D7F;

 }

 .breadcrumb {
    display: block;
 }

 ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: transparent
  }
  ul.breadcrumb li {
    display: inline;
    
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    text-decoration: none;
    text-transform: uppercase;
  }

  ul.breadcrumb li a:hover {
    color: #F16D7F;
  }
  .main-catalog {
display: flex;
flex-wrap: wrap;
  }
  .nav-catalog {
      width: 100%;
  }