
* {
    margin: 0;
    padding: 0;
    }
    .container {
        width: 1600px;
        margin: 0 auto;
        }
body {
    font-family: sans-serif;} 
  
    .page-header{
      width: 100%; 
      min-height: 75px;
      background-color: #222222;
      display: flex; 
      justify-content: space-between;
}

.left_header {
    display: flex; 
align-items: center;
padding-left:231px ;
}


.logo_img {
    padding: 41px;
}
.right_header {
    display: flex; 
align-items: center;
padding-right:240px ;
}
.menu_img {
    padding: 33px;
}
.lk_img {
    padding: 33px;
}
.page-header-banner {
    min-height: 764px;
    background: #F1E4E6;
}
.left_desktop {
    display: flex; 

}
.right_desktop{
    display: flex; 
align-items: center;
}
.rectangle{
    width: 12px;
    height: 92px;
    background: #F16D7F;
    margin-right: 16px;
}
.p_head {
    width: 377px;
  font-weight: 900;
font-size: 48px;
line-height: 58px;
text-transform: uppercase;
color: #222222;  
}
.p_text {

font-weight: 700;
font-size: 33px;
line-height: 58px;
text-transform: uppercase;
color: #222222;  
}
.span_text {

    font-weight: 700;
    font-size: 33px;
    line-height: 58px;
    color: #F16D7F;;
    text-transform: uppercase;
    }
    .main_content {
        width: 1140px;
        padding-left: 230px;

    }

    .menu_category {
        width: 100%;
        padding-top: 65px;

    }

    .top_menu {
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
    }
.woomen {
    width: 360px;
    min-height: 260px;
    background: rgba(33, 22, 22, 0.7);
    position: relative; 
    background-image: url(img/woomen.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
}
.woomen:hover {
    background-blend-mode: normal;
}
.text_category {
    position: absolute;
    width: 154px;
    height: 50px;
    top: 105px;
    left: 103px;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}

 .promo {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
 }
 .name_category {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #F16D7F;;
 }
.men {
    width: 360px;
    height: 260px;
    background: rgba(33, 22, 22, 0.7);
    position: relative; 
    background-image: url(img/men.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
}
.men:hover {
    background-blend-mode: normal;
}
.kids {
    width: 360px;
    height: 260px;
    background: rgba(33, 22, 22, 0.7);
    position: relative; 
    background-image: url(img/kids.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
}
.kids:hover {
    background-blend-mode: normal;
}
.accesories {
   width: 100%;
    height: 180px;
    background: rgba(33, 22, 22, 0.7);
    position: relative; 
    background-image: url(img/accesories.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
}

.accesories:hover {
    background-blend-mode: normal;
}
.text_category_acces {
    position: absolute;
    width: 160px;
    height: 50px;
    top: 65px;
    left: 491px;
    line-height: 28px;
    text-align: center;
}
.products {
    width: 100%;
 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products-title {
padding-top: 96px;
font-size: 30px;
line-height: 36px;
color: #222222;
text-align: center;
}
.products-subtitle{
  font-size: 14px;
line-height: 17px;
color: #9F9F9F; 
text-align: center;
margin-bottom: 48px ;

}
.products-item {
    min-height:581px ;
    max-width: 360px;
    background: #F8F8F8;
   margin-bottom: 30px;
   
   

}
.products-item-photo {
    height: 420px;
    max-width: 360px;
    margin-bottom: 25px;
    display: block;
    background: #F7E4E2;
    margin-left: auto;
    margin-right: auto;
    position: relative;
   display: flex;
   justify-content: center;

}
.cover-item-photo {
background: rgba(0, 0, 0, 0.8);
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
opacity: 0;


}

.add-cart {
    min-height: 43px;
    max-width: 138px;
    border: 1px solid #FFFFFF;
   margin-top:188px ;
   margin-left: 111px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
 
.title-add-cart {
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding-left: 11px;
}

.cover-item-photo:hover {
   opacity: 10;
    
}
.products-item-title {
    padding-left: 18px;
    padding-top: 25px;
    font-size: 13px;
    line-height: 16px;
    color: #000000; 
    text-align: center;
}
.add-cart-img {
    min-width: 26px;
    max-height: 24px;
}
.products-item-txt {
    padding-top: 13px;
    padding-bottom: 18px;
    padding-left: 18px;
font-weight: 300;
font-size: 14px;
line-height: 17px;
text-align:start;
color: #5D5D5D;
}
.products-item-price {
    padding-left: 18px;
    font-size: 16px;
line-height: 19px;

color: #F16D7F;
}
.bottom-products {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 95px;
}
.button-browse-all-products {
    height: 47px;
    width: 211px;
    border: 1px solid #FF6A6A;
    display: flex;
    align-items: center;
    justify-content: center;
}
.txt-browse-all-products {
   font-size: 16px;
line-height: 19px;
text-decoration: none;

color: #F26376; 
}
.button-browse-all-products:hover {
    background: #F16D7F;
}

.button-browse-all-products:hover  .txt-browse-all-products{
   
    color: #FFFFFF;  
}

.features {
    width: 100%;
    height:341px ;
    background: #222224;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.features-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features-item-icon {
    stroke: #F16D7F;
    padding-bottom: 28px;
}

.features-item-title {
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    padding-bottom: 16px;
}

.features-item-txt {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB; 
}
.subscribe {
    min-height: 448px;
    background-image:url(img/subscribe_bg.png), linear-gradient(to right, #d9d9d9 28%, #adadad 82%);
   background-blend-mode: overlay, color;
    display: flex ;
   justify-content: space-between;
   
}

.subscribe-info {
    display: flex ;
    flex-direction: column;
padding-left: 230px;
padding-top: 86px;

    
}
.subscribe-info-avatar {
    display: flex;
    justify-content: center;
    margin-bottom:25px ;
}
.subscribe-info-txt {
    max-width: 360px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}
.subscribing {
    display: flex ;
    flex-direction: column;
padding-right: 230px;
padding-top: 150px;
}
.subscribing-title {
font-weight: bold;
font-size: 24px;
line-height: 167.2%;
text-align: center;
color: #222224;
text-transform: uppercase;
}
.subscribing-subtitle{
   font-size: 18px;
line-height: 30px;
text-align: center;
color: #222224; 
text-transform: uppercase;
}

.subscribing-form {
margin-top: 32px;
display: flex;
}
.subscribing-form-email {
    background: #E1E1E1;
   min-width: 256px;
   min-height: 49px;
   border-radius: 50px 0 0 50px;
 border: none;

}

.subscribing-form-btn {
    background: #F16D7F;
    min-width: 100px;
    min-height: 49px;
    border-radius: 0 50px 50px 0;
border: none;

    
}
.subscribing-form-email::-webkit-input-placeholder {
    padding-left: 22px;
    font-size: 14px;
line-height: 17px;
color: #222224;
opacity: 0.67;
}
.footer {
    background: #222224;
    min-height: 79px;
}
.page-footer-txt {
  font-size: 16px;
line-height: 19px;

color: #FBFBFB;  
}
.page-footer-socials {
    width: 300px;
   
    display: flex;
    justify-content: space-between;
}
.page-footer-socials-item {
    display: block;
    width: 32px;
    height: 32px;
    background: #FFFFFF;
}
.icon-item:nth-child(1) {
    background-position: 0 0;
  }
  
  .icon-item:nth-child(2){
    background-position: -59px 0;
  }
  
  .icon-item:nth-child(3){
    background-position: -118px 0;
  }
  
  .icon-item:nth-child(4){
    background-position: -177px 0;
  }
  
  i {
      
      width: 32px;
      height: 32px;
    color:black;
    display:inline-block;
    font-size: 25px;
    line-height: 50px;
    background-color:white;
    vertical-align: center;
    text-align: center;
 }